bbody {
    font-family: Quicksand;
    margin: 0;
    background: #a9a9a9;
}

a {
    color: #808080;
    text-decoration: none;
    font-size: 25px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    height: 70px;
    line-height: 70px;
    width: 200px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
}

.horizontal-menu li:hover {
    background-color: #696969;
}

.vertical-menu li:hover {
    background-color: #696969;
}

.vertical-menu a {
    display: block;
}

.horizontal-menu li {
    display: inline-block;
}

.horizontal-menu {
    background-color: #000000;
    text-align: center;
}

.vertical-menu li {
    display: block;
    transition-duration: 800ms;
    background-color: #000000;
}

.vertical-menu {
    visibility: hidden;
    position: absolute;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    transition: 200ms;
}

.horizontal-menu li:hover ul {
    display: block;
    visibility: visible;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

.horizontal-menu li:hover > a {
    color: #ffffff;
}
